{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!--portfolio-->
    <div class="color-changer">
        <div class="color-panel">
            <img src="{% static 'images/gear.png' %}" alt="">
        </div>
        <div class="color-selector">
            <div class="heading">Custom Colors</div>
            <div class="colors">
                <ul >
                <li>
                    <a href="#0" class="color-red " title="color-red"></a>
                </li>
                <li>
                    <a href="#0" class="color-purple" title="color-purple"></a>
                </li>
                <li>
                    <a href="#0" class="color-malt" title="color-malt"></a>
                </li>
                <li>
                    <a href="#0" class="color-green" title="color-green"></a>
                </li>
                <li>
                    <a href="#0" class="color-blue" title="color-blue"></a>
                </li>
                <li>
                    <a href="#0" class="color-orange" title="color-orange"></a>
                </li>
                </ul>
            </div>
        </div>
        </div>
    <div class="portfolio-header"> <span class="color"> My </span> Portfolio
    <span class ="header-caption"> <span class="color"> {{work}} </span></span></div>
    {% for WD in work_details %}
        <div id="portfolio-content">
            <div class="portfolio portfolio-first">
                <div class="portfolio-image">
                <img src="{{WD.photo.url}}" alt="portfolio-first">
                </div>
                <div class="portfolio-text">
                    <h2>{{WD.name}}</h2>
                    <p style="color: aliceblue;">{{WD.description}}</p>
                </div>
                    <!-- <div class="button"><a href="#"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div> -->
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
